<footer class="glass-footer">
  <div class="container-footer">
    <div class="footer-top">
      <!-- Social Links -->
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/surya-prakash-singh-527844297" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/prakash770405/" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/yourprofile" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>

      <!-- Contact Info -->
      <div class="footer-contact mt-2">
        <p>Email: <a href="mailto:youremail@example.com">suryazzz642@gmail.com</a></p>
      </div>
    </div>

    <div class="footer-bottom mt-3">
      <p>© 2026 Surya Prakash Singh. All rights reserved.</p>
    </div>
  </div>
</footer>

<script src="/js/main.js"></script>
